###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta
[Ll]ogs/

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
.vsconfig

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

###
# Project
###
Design Merge/.vs/Design Merge/v16/Browse.VC.opendb
Design Merge/AssetBundles
Design Merge/.vs/Design Merge/v16/Browse.VC.db-shm
Design Merge/.vs/Design Merge/v16/Browse.VC.db-wal
Design Merge/.vs/Design Merge/v16/Browse.VC.db
/AssetBundles
